
audio_blocks/vst.ValhallaDelay.json
audio_blocks/vst.ToTape664.json
audio_blocks/vst.ValhallaFreqEcho_x64.json
audio_blocks/vst.ValhallaRoom.json
audio_blocks/vst.ValhallaSpaceModulator.json
audio_blocks/vst.ValhallaSupermassive_x64.json
audio_blocks/vst.ValhallaUberMod.json
audio_blocks/vst.ZBandpass264.json
audio_blocks/vst.ZHighpass264.json
audio_blocks/vst.ZLowpass264.json
audio_blocks/vst.ZNotch264.json
audio_blocks/vst.Focus64.json
audio_blocks/vst.GSnap.json
audio_blocks/vst.MackEQ64.json
audio_blocks/vst.Mojo64.json
audio_blocks/vst.PitchNasty64.json
audio_blocks/vst.Pockey264.json
audio_blocks/vst.Pressure464.json
audio_blocks/vst.Pro-C.2.json
audio_blocks/vst.RatshackReverb2.json
audio_blocks/vst.TAL-Chorus-LX-64.json
audio_blocks/vst.ZRegion264.json
audio_blocks/vst.Capacitor264.json
audio_blocks/vst.CStrip64.json
audio_blocks/vst.DeRez264.json
audio_blocks/vst.Distortion64.json
audio_blocks/vst.Elation64.json
userconfig.json
data/ValhallaDelay.maxsnap
data/ValhallaDelay.maxsnap
docs/ar.apicolypse~.maxref.xml
data/airwindows Console7Buss.maxsnap
data/airwindows Console7Channel.maxsnap
data/airwindows Console7Channel_20240602.maxsnap
audio_blocks/vst.TAL-NoiseMaker.json
note_blocks/abb.music.calculator.json
note_blocks/abb.music.calculator.maxpat
audio_blocks/vst.DPiano-E.json
data/Lode.amxd.maxsnap
audio_blocks/amxd.Lode.json
docs/ar.infinity2~.maxref.xml
audio_blocks/vst.PocketVerbs64.json
audio_blocks/vst.Cabs64.json
data/airwindows Cabs.maxsnap
audio_blocks/vst.PreBOX.json
audio_blocks/vst.DC1A2.json
audio_blocks/vst.FabFilter.Pro-C.2.json
audio_blocks/vst.ValhallaVintageVerb.json
audio_blocks/vst.ValhallaPlate.json
audio_blocks/vst.ValhallaVintageVerb_x64.json
audio_blocks/abb.BIFF.compressor.maxpat
audio_blocks/abb.BIFF.compressor.json
audio_blocks/voice.dds.wave.maxpat
audio_blocks/voice.dds.wave.json
data/airwindows ToTape6.maxsnap
data/airwindows ToTape6_20250310.maxsnap
data/airwindows Console7Channel_20250216.maxsnap
data/airwindows Console7Channel_20250216.maxsnap
data/airwindows Console7Channel_20250216.maxsnap
.DS_Store
hardware_configs/tiptop_case.json
note_blocks/strudel.mini/node_modules/@strudel/core/bench/pattern.bench.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/clockworker.js
note_blocks/strudel.mini/node_modules/@strudel/core/controls.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/cyclist.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/dist/assets/clockworker-ZDiUtESR.js
note_blocks/strudel.mini/node_modules/@strudel/core/dist/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/drawLine.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/euclid.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/evaluate.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/fraction.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/hap.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/LICENSE
note_blocks/strudel.mini/node_modules/@strudel/core/logger.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/neocyclist.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/package.json
note_blocks/strudel.mini/node_modules/@strudel/core/pattern.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/pick.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/README.md
note_blocks/strudel.mini/node_modules/@strudel/core/repl.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/signal.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/speak.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/state.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/controls.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/drawLine.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/euclid.test.js
note_blocks/strudel.mini/node_modules/@strudel/core/test/fraction.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/pattern.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/solmization.test.js
note_blocks/strudel.mini/node_modules/@strudel/core/test/util.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/value.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/time.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/timespan.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/ui.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/util.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/value.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/vite.config.js
note_blocks/strudel.mini/node_modules/@strudel/core/zyklus.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/bench/mini.bench.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/dist/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/krill-parser.js
note_blocks/strudel.mini/node_modules/@strudel/mini/krill.pegjs
note_blocks/strudel.mini/node_modules/@strudel/mini/LICENSE
note_blocks/strudel.mini/node_modules/@strudel/mini/mini.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/package.json
note_blocks/strudel.mini/node_modules/@strudel/mini/README.md
note_blocks/strudel.mini/node_modules/@strudel/mini/test/mini.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/vite.config.js
note_blocks/strudel.mini/node_modules/fraction.js/CHANGELOG.md
note_blocks/strudel.mini/node_modules/fraction.js/dist/fraction.js
note_blocks/strudel.mini/node_modules/fraction.js/dist/fraction.min.js
note_blocks/strudel.mini/node_modules/fraction.js/dist/fraction.mjs
note_blocks/strudel.mini/node_modules/fraction.js/examples/angles.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/approx.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/egyptian.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/hesse-convergence.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/integrate.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/ratio-chain.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/rational-pow.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/tape-measure.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/toFraction.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/valueOfPi.js
note_blocks/strudel.mini/node_modules/fraction.js/fraction.d.mts
note_blocks/strudel.mini/node_modules/fraction.js/fraction.d.ts
note_blocks/strudel.mini/node_modules/fraction.js/LICENSE
note_blocks/strudel.mini/node_modules/fraction.js/package.json
note_blocks/strudel.mini/node_modules/fraction.js/README.md
note_blocks/strudel.mini/node_modules/fraction.js/src/fraction.js
note_blocks/strudel.mini/node_modules/fraction.js/tests/fraction.test.js
note_blocks/strudel.mini/npm-debug-u89882040027.log
note_blocks/strudel.mini/npm-debug-u89882360029.log
note_blocks/strudel.mini/npm-debug-u89882700031.log
note_blocks/strudel.mini/npm-debug-u89884360018.log
note_blocks/strudel.mini/npm-debug-u89884680020.log
note_blocks/strudel.mini/npm-debug-u89885010022.log
note_blocks/strudel.mini/npm-debug-u89887930040.log
note_blocks/strudel.mini/node_modules/@strudel/core/bench/pattern.bench.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/clockworker.js
note_blocks/strudel.mini/node_modules/@strudel/core/controls.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/cyclist.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/dist/assets/clockworker-ZDiUtESR.js
note_blocks/strudel.mini/node_modules/@strudel/core/dist/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/drawLine.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/euclid.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/evaluate.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/fraction.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/hap.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/LICENSE
note_blocks/strudel.mini/node_modules/@strudel/core/logger.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/neocyclist.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/package.json
note_blocks/strudel.mini/node_modules/@strudel/core/pattern.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/pick.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/README.md
note_blocks/strudel.mini/node_modules/@strudel/core/repl.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/signal.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/speak.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/state.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/controls.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/drawLine.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/euclid.test.js
note_blocks/strudel.mini/node_modules/@strudel/core/test/fraction.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/pattern.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/solmization.test.js
note_blocks/strudel.mini/node_modules/@strudel/core/test/util.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/test/value.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/time.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/timespan.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/ui.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/util.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/value.mjs
note_blocks/strudel.mini/node_modules/@strudel/core/vite.config.js
note_blocks/strudel.mini/node_modules/@strudel/core/zyklus.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/bench/mini.bench.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/dist/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/index.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/krill-parser.js
note_blocks/strudel.mini/node_modules/@strudel/mini/krill.pegjs
note_blocks/strudel.mini/node_modules/@strudel/mini/LICENSE
note_blocks/strudel.mini/node_modules/@strudel/mini/mini.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/package.json
note_blocks/strudel.mini/node_modules/@strudel/mini/README.md
note_blocks/strudel.mini/node_modules/@strudel/mini/test/mini.test.mjs
note_blocks/strudel.mini/node_modules/@strudel/mini/vite.config.js
note_blocks/strudel.mini/node_modules/fraction.js/CHANGELOG.md
note_blocks/strudel.mini/node_modules/fraction.js/dist/fraction.js
note_blocks/strudel.mini/node_modules/fraction.js/dist/fraction.min.js
note_blocks/strudel.mini/node_modules/fraction.js/dist/fraction.mjs
note_blocks/strudel.mini/node_modules/fraction.js/examples/angles.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/approx.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/egyptian.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/hesse-convergence.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/integrate.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/ratio-chain.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/rational-pow.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/tape-measure.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/toFraction.js
note_blocks/strudel.mini/node_modules/fraction.js/examples/valueOfPi.js
note_blocks/strudel.mini/node_modules/fraction.js/fraction.d.mts
note_blocks/strudel.mini/node_modules/fraction.js/fraction.d.ts
note_blocks/strudel.mini/node_modules/fraction.js/LICENSE
note_blocks/strudel.mini/node_modules/fraction.js/package.json
note_blocks/strudel.mini/node_modules/fraction.js/README.md
note_blocks/strudel.mini/node_modules/fraction.js/src/fraction.js
note_blocks/strudel.mini/node_modules/fraction.js/tests/fraction.test.js
note_blocks/strudel.mini/npm-debug-u93087210020.log
note_blocks/strudel.mini/npm-debug-u93087570022.log
